<template name="_about">
    <div class="row">
        <div class="col-md-6">

            <h5>/ˌmētēəˈräləjē/</h5>
            <h5 style="color: #777;"><strong>noun:</strong> meteorology</h5>
            <p>
            <small>
                the branch of science concerned with the processes and phenomena of the
                <del>atmosphere...</del>
                <a href="http://meteor.com">Meteor Development Framework</a>
            </small>
            </p>
            <p>
                <em>Checkout <a href="http://observatoryjs.com">Observatory</a> -
                    logging, app management and monitoring solution for Meteor</em>
            </p>


        </div>
        <div class="col-md-6">

                <img src="/images/observatory-scr-2-sm.png">
        </div>
    </div>

</template>