<!-- single post -->
<template name="_post">
    <div class="prev-article row">

        <div class="blog-prev-date col-md-3 col-sm-3">
								<span class="date">
									{{createdAt.getDate}}
                                    <small>{{shortMonthName createdAt.getMonth}} {{createdAt.getFullYear}}</small>
								</span>
								<span class="info hidden-xs">
									<span class="block"><i class="fa fa-user"></i> BY <a href="blog-author.html">ADMIN</a></span>
									<span class="block"><i class="fa fa-folder-open-o"></i> POSTED IN <a href="blog.html">{{mainCategory.toUpperCase}}</a></span>
									<span class="block"><i class="fa fa-comments"></i> WITH <a href="blog-single.html#comments">3 COMMENTS</a></span>
									<span class="block"><i class="fa fa-link"></i> <a href="blog-single.html">PERMALINK</a></span>
								</span>
        </div>

        <div class="col-md-9 col-sm-9">

            <h1>{{title}}</h1>
            <h4>{{tagline}}</h4>

            <!-- carousel -->
            <!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <!--
            <div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "autoPlay": true, "transitionStyle":"fadeUp"}'>
            <div class="item">
                    <img src="/assets/images/demo/people.jpg" class="img-responsive" alt="img" />
                </div>
                <div class="item">
                    <img src="/assets/images/demo/conference.jpg" class="img-responsive" alt="img" />
                </div>
            </div> -->
            <!-- /carousel -->

            <!-- image -->
            <!--<img src="assets/images/demo/conference.jpg" class="img-responsive" alt="img" />-->
            <!-- /image -->

            <!-- video -->
            <!-- <iframe src="https://player.vimeo.com/video/8408210" width="800" height="450"></iframe> -->
            <!-- /video -->


            <!-- article content -->
            <article>

                {{#markdown}}
                    {{{body}}}
                {{/markdown}}

             </article>


            <!-- SOCIAL -->
            <p class="socials">
                <a href="#" class="rounded-icon social fa fa-facebook"><!-- facebook --></a>
                <a href="#" class="rounded-icon social fa fa-twitter"><!-- twitter --></a>
                <a href="#" class="rounded-icon social fa fa-google-plus"><!-- google plus --></a>
                <a href="#" class="rounded-icon social fa fa-pinterest"><!-- pinterest --></a>
                <a href="#" class="rounded-icon social fa fa-linkedin"><!-- linkedin --></a>
            </p>

            <!-- TAGS -->
            <p class="fsize16"> Tags:
                {{#each tags}}
                <a class="tag label label-default light" href="#"><i class="fa fa-tags"></i> {{this}}</a>
                {{/each}}
            </p>

        </div>

    </div>

    <div id="comments">
        {{>disqus}}
    </div>

</template>