<template name="_about">

    <h1>me·te·or·ol·o·gy</h1>
    <h4>/ˌmētēəˈräləjē/</h4>
    <h4 style="color: #777;"><strong>noun:</strong> meteorology</h4>
    <p>
        the branch of science concerned with the processes and phenomena of the
        <del>atmosphere...</del>
        <a href="http://meteor.com"><strong>Meteor Development Framework</strong></a> -
        <em>an open-source platform for building top-quality web apps in a fraction
        of the time, whether you're an expert developer or just getting started</em>
    </p>

</template>