<template name="_newPost">
    <h1>{{title}}</h1>
    {{#with post}}
    <div class="form-group">
        <input type="text" class="form-control" id="title" placeholder="Enter Title" value="{{title}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="slug" placeholder="slug for permalink" value="{{slug}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="tagline" placeholder="Enter tagline..." value="{{tagline}}">
    </div>
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="link" placeholder="Link if applicable" value="{{link}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="credit" placeholder="Credits to" value="{{credit}}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="createdDate" value="{{createdAt.year}}/{{createdAt.month}}/{{createdAt.day}}">
        </div>
    </div>

    <p>&nbsp;</p>

    <div class="form-group">
        <textarea id='body' class='form-control' style="height: 400px;">
{{body}}</textarea>
    </div>
    <div class="form-inline">

        <a href="#" id="lnkCancel">Cancel</a> |
        <a href="#" id="lnkPublish">Publish</a>

        <div class="form-group">
        <select id="category" value="{{mainCategory}}">
            <option value="post">post</option>
            <option value="article">article</option>
            <option value="external">external</option>
        </select>
    </div>
    </div>

    {{/with}}

</template>