<template name="_contactInfo">
    <!-- CONTACT -->
    <section id="contact" class="alternate">
        <div class="container">
            <a href="#" class="toTop up fa fa-chevron-up"><!-- arrow up - go home --></a>

            <header>
                <h1>STAY IN TOUCH!</h1>
                <p class="lead nopadding nomargin">Question? Comment? Interested in updates?</p>
                <p class="lead nopadding nomargin">Drop us a line or just say <strong><em>Hello!</em></strong></p>
            </header>


            <!-- Alert -->
            <div id="_sent_ok_" class="alert alert-success fsize16">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span id="_msg_txt_"><strong>Thank You!</strong> Your message successfully sent!</span>
            </div>

            <div id="contactForm" class="row white block form-inline">

                <div class="col-md-6 col-sm-6">
                    <input required class="fullwidth form-control input-lg" type="text" name="contact_name" id="contact_name" value="" placeholder="NAME *" title="Name" />
                    <input required class="fullwidth form-control input-lg" type="email" name="contact_email" id="contact_email" value="" placeholder="EMAIL *" title="Email" />
                    <input class="fullwidth form-control input-lg" type="text" name="contact_subject" id="contact_subject" value="" placeholder="SUBJECT" title="subject" />
                </div>

                <div class="col-md-6 col-sm-6">
                    <textarea required class="fullwidth form-control input-lg" rows="6" name="contact_comment" id="contact_comment" placeholder="MESSAGE *"></textarea>
                </div>

                <div class="col-md-12 text-center margin-top30">
                    <input type="hidden" name="captcha" id="captcha" value="" /><!-- hidden field - humans should not see it, only spam bots will see it -->
                    <button id="contact_submit" class="btn btn-primary">SEND MESSAGE</button>
                </div>

            </div>

        </div>

        <!-- enable google map if needed! -->


    </section>
    <!-- /CONTACT -->

</template>