<template name='_featuredMenu'>
    <!-- FEATURED -->
    <div class="featured three"><!-- two , three , four, five - depends on featured list - for best responsive view (or no additional class = default view) -->
        <div class="container">

            <div class="row">

                <div class="col-sm-12 col-md-7">
                    <ul>
                        <li>
                            <a href="feature-shortcodes.html">
                                <i class="fa fa-code"></i> Shortcodes
                            </a>
                        </li>
                        <li>
                            <a href="feature-icons.html">
                                <i class="fa fa-leaf"></i> Font Awsome
                            </a>
                        </li>
                        <li>
                            <a href="feature-typography.html">
                                <i class="fa fa-text-width"></i> Typography
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-md-5 hidden-xs hidden-sm text-right">

                    <!-- text or button -->
                    <p class="lead">Awsome Template Features - Check Them!</p>
                    <!--<a href="#" class="btn btn-primary">PURCHASE TEMPLATE</a>-->
                    <!--
                    <div class="btn-group">
                        <a class="btn btn-primary" href="http://theme.stepofweb.com/Atropos/index.php" target="_blank" rel="nofollow">Preview</a>
                        <a class="btn btn-primary btn-left" target="_blank" rel="nofollow" title="Purchase Atropos Bootstrap Template" href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527">Purchase</a>
                    </div>
                    -->

                </div>

            </div>

        </div>
    </div>
    <!-- /FEATURED -->

</template>
