<template name="_homeParallax">
    <!-- HOME -->
    <section id="home" class="parallax">
        <span class="overlay"><!-- black - 0.2% transparent --></span>

        <!-- background slider images -->
        <div class="slider" style="background:url('assets/images/demo/slider/flickr_12.jpg')"></div>
        <div class="slider" style="background:url('assets/images/demo/slider/flickr_11.jpg')"></div>


        <div class="table">
            <div class="table-cell">

                <!-- home text slider -->
                <ul class="text-slider">
                    <li>
                        <h1>super<span>string</span> software</h1>
                    </li>

                    <li>
                        <h1>because <span>IT</span> should be <span>easy</span></h1>
                    </li>
                </ul>

                <!-- home text slogan / static -->
                <h4>we make software development with <a href="http://meteor.com">METEOR</a> easier and faster than ever</h4>
                <p>
                    Checkout our flagship product <a href="http://observatoryjs.com">OBSERVATORY</a>:
                    <br/>application management and monitoring for meteor apps
                    <br/>Browse a growing library of <i>free</i> handy packages
                </p>
                <a href="#about" class="scrollTo btn btn-default">GET STARTED</a>
            </div>
        </div>
    </section>
    <!-- /HOME -->

</template>