<template name="_parallaxMiddle">
    <!-- PARALLAX -->		 <!-- parallax-1 , parallax-2 , parallax-3 , parallax-4 , parallax-default -->
    <section class="parallax parallax-1" style="background-image:url(/images/phys-abstract1.jpg);">
        <span class="overlay"></span>

        <div class="container text-center">

            <h1>why superstrings?</h1>
            <p>
            <strong>superstring theory</strong> is an attempt to explain all of the particles and fundamental forces of nature in one
            theory by modelling them as vibrations of tiny supersymmetric strings. Simplest of objects, described
            by the most complicated math imaginable, giving birth to everything around us, a beautiful infinite universe.
            </p>
            <p>
            we at superstring ventures believe <strong>software</strong> needs to be the similar: hide complexity, expose beauty, joy and ease of creation.
            </p>

        </div>
    </section>
    <!-- /PARALLAX -->

</template>