<template name="_parallaxMiddle">
    <!-- PARALLAX -->		 <!-- parallax-1 , parallax-2 , parallax-3 , parallax-4 , parallax-default -->
    <section class="parallax parallax-1" style="background-image:url(assets/images/demo/18.jpg);">
        <span class="overlay"></span>

        <div class="container text-center">

            <h1>1800 - 1234 567</h1>
            <a href="#contact" class="scrollTo btn btn-default btn-lg">OR CONTACT US</a>

        </div>
    </section>
    <!-- /PARALLAX -->

</template>