<template name="_portfolio">
    <!-- PORTFOLIO -->
    <section id="work" class="alternate">
        <div class="container">
            <a href="#" class="toTop up fa fa-chevron-up"><!-- arrow up - go home --></a>

            <header>
                <h1>OUR WORK</h1>
                <p>One of the primary sources of our success is taking care of the quality and the dynamic development of our products. </p>
                <p>We invest in development to ensure that our products are safe and modern.</p>
            </header>

            <!-- PORTFOLIO ITEMS -->
            <div id="portfolio">

                <div class="text-center">

                    <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
                        <li data-option-value="*" class="active"><a href="#">Show All</a></li>
                        <li data-option-value=".development"><a href="#">Development</a></li>
                        <li data-option-value=".photography"><a href="#">Photography</a></li>
                        <li data-option-value=".design"><a href="#">Design</a></li>
                    </ul>

                    <hr class="menu-lines" /><!-- lines -->

                </div>


                <div class="row portfolio-items">

                    <ul class="sort-destination isotope" data-sort-id="isotope-list">

                        <li class="isotope-item col-sm-6 col-md-3 development"><!-- item -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover ajax-project" href="project-external-1.html">
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-external-link fsize20"></span>
												<strong>EXTERNAL</strong> #1
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/1.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>External Project #1</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 photography"><!-- item 2 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover ajax-project" href="project-external-2.html">
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-external-link fsize20"></span>
												<strong>EXTERNAL</strong> #2
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/2.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>External Project #2</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 photography"><!-- item 4 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover ajax-project" href="project-external-3.html">
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-external-link fsize20"></span>
												<strong>EXTERNAL</strong> #3
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/4.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>External Project #3</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 design"><!-- item 3 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-video-camera fsize20"></span>
												<strong>VIDEO</strong> PROJECT
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/3.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Video Project</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 development"><!-- item 5 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> VIDEO
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/5.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project with a long title bla bla bla</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 design"><!-- item 6 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover lightbox" href="assets/images/demo/portfolio/6.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> IMAGE
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/6.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Image Project</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 photography design"><!-- item 7 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover lightbox" href="assets/images/demo/portfolio/7.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> IMAGE
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/7.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Image Project</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                        <li class="isotope-item col-sm-6 col-md-3 development"><!-- item 8 -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover lightbox" href="assets/images/demo/portfolio/8.jpg" data-plugin-options='{"type":"image"}'>
                                        <span class="overlay"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> IMAGE
											</span>
                                    </a>
                                    <img class="img-responsive" src="assets/images/demo/portfolio/thumb/8.jpg" height="263" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Image Project</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div><!-- /.masonry-container -->

                <!-- CALLOUT -->
                <div class="bs-callout text-center nomargin-bottom">
                    <h3>Do you like what you see? <a href="#contact" class="scrollTo btn btn-primary btn-lg">Contact Us!</a></h3>
                </div>
                <!-- /CALLOUT -->


            </div>
            <!-- PORTFOLIO ITEMS -->

        </div>
    </section>
    <!-- /PORTFOLIO -->

</template>