<template name="_pricingSection">
    <!-- PRICING -->
    <section id="pricing">
        <div class="container">
            <a href="#" class="toTop up fa fa-chevron-up"><!-- arrow up - go home --></a>

            <header>
                <h1>OUR PLANS</h1>
                <p>One of the primary sources of our success is taking care of the quality and the dynamic development of our products.</p>
                <p>We invest in development to ensure that our products are safe and modern.</p>
            </header>


            <!--
                BOOTSTRAP GRID
                4 columns: col-md-3
                3 columns: col-md-4
                2 columns: col-md-2

                For more info about bootstrap grid
                http://getbootstrap.com/css/#grid
            -->

            <!-- FOUR COLUMNS -->
            <div class="row pricetable-container">

                <div class="col-md-3 price-table">
                    <h3>START</h3>
                    <p>
                        $5.9
                        <span>Per month</span>
                    </p>

                    <ul>
                        <li>22GB Bandwidth</li>
                        <li>3Tb Storage</li>
                        <li>Unlimited Domains</li>
                        <li>Free Setup</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
                </div>

                <div class="col-md-3 price-table popular">
                    <h3>PREMIUM</h3>
                    <p>
                        $9.9
                        <span>Per month</span>
                    </p>
                    <ul>
                        <li>22GB Bandwidth</li>
                        <li>3Tb Storage</li>
                        <li>Unlimited Domains</li>
                        <li>Free Setup</li>
                    </ul>
                    <a href="#" class="btn btn-default btn-sm">SIGN UP</a>
                </div>

                <div class="col-md-3 price-table">
                    <h3>PROFESSIONAL</h3>
                    <p>
                        $14.9
                        <span>Per month</span>
                    </p>
                    <ul class="pricetable-items">
                        <li>22GB Bandwidth</li>
                        <li>3Tb Storage</li>
                        <li>Unlimited Domains</li>
                        <li>Free Setup</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
                </div>

                <div class="col-md-3 price-table">
                    <h3>ULTIMATE</h3>
                    <p>
                        $19.9
                        <span>Per month</span>
                    </p>
                    <ul>
                        <li>22GB Bandwidth</li>
                        <li>3Tb Storage</li>
                        <li>Unlimited Domains</li>
                        <li>Free Setup</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-sm">SIGN UP</a>
                </div>

            </div>
            <!-- /FOUR COLUMNS -->

            <div class="divider"><!-- divider --></div>

            <h3>We care about our customers</h3>
            <p>Lorem elementum placerat mi, vel feugiat massa egestas in. Pellentesque id quam eget dolor tincidunt tempor. Sed pulvinar tortor sit amet tortor venenatis ut molestie lacus convallis. Phasellus vulputate congue posuere. Sed a placerat justo. Sed lacinia nulla at purus porta a placerat dui venenatis. Suspendisse sed lacus id urna faucibus pulvinar ut eu mi. Aliquam erat volutpat.</p>
            <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>

            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icon check">
                        <li>Nullam id dolor id</li>
                        <li>Duis mollis, est non commodo</li>
                        <li>Maecenas sed diam eget</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-icon exclamation-circle color">
                        <li>Nullam id dolor id</li>
                        <li>Duis mollis, est non commodo</li>
                        <li>Maecenas sed diam eget</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- /PRICING -->
</template>