<template name="_servicesMain">
    <!-- SERVICES -->
    <section id="services">
        <div class="container">
            <a href="#" class="toTop up fa fa-chevron-up"><!-- arrow up - go home --></a>

            <header>
                <h1>OUR SERVICES</h1>
                <p>One of the primary sources of our success is taking care of the quality and the dynamic development of our products.</p>
                <p>We invest in development to ensure that our products are safe and modern.</p>
                <a href="tel:1800-1234-567" class="lead">1800 - 1234 567</a>
            </header>


            <!-- SERVICES LIST -->
            <div class="row">

                <!-- SERVICE 1 -->
                <div class="service col-md-6 col-sm-6">

                    <div class="row text-right"><!-- right align -->
                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Photography</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>

                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-camera text-center"></i>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 1 -->

                <!-- SERVICE 2 -->
                <div class="service col-md-6 col-sm-6">

                    <div class="row text-left"><!-- left align -->
                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-play-circle text-center"></i>
                        </div>

                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Video Production</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 2 -->

                <!-- SERVICE 3 -->
                <div class="service col-md-6 col-sm-6">

                    <div class="row text-right"><!-- right align -->
                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Identity &amp; Branding</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>

                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-cog text-center"></i>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 3 -->

                <!-- SERVICE 4 -->
                <div class="col-md-6 col-sm-6">

                    <div class="service row text-left"><!-- left align -->
                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-user text-center"></i>
                        </div>

                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>User Experience</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 4 -->

                <!-- SERVICE 5 -->
                <div class="service col-md-6 col-sm-6">

                    <div class="row text-right"><!-- right align -->
                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Mobile &amp; Webdesign</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>

                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-desktop text-center"></i>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 5 -->

                <!-- SERVICE 6 -->
                <div class="col-md-6 col-sm-6">

                    <div class="service row text-left"><!-- left align -->
                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-apple text-center"></i>
                        </div>

                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>iOS Development</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</p>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 6 -->

            </div>
            <!-- /SERVICES LIST -->

        </div>
    </section>
    <!-- /SERVICES -->

</template>