<template name="_servicesMain">
    <!-- SERVICES -->
    <section id="packages">
        <div class="container">
            <a href="#" class="toTop up fa fa-chevron-up"><!-- arrow up - go home --></a>

            <header>
                <h1>USEFUL METEOR PACKAGES</h1>
                <p>
                    We use Meteor extensively for several production apps in enterprise environment and we love it.
                    In the process of building them we created several packages that dramatically improve
                    developer productivity, reduce boilerplate and increase maintainability.
                </p>

                <p>
                    As Meteor docs say: <em>..what once took weeks, even with the best tools, now takes hours with Meteor.</em>
                </p>
                <p>With our improvements what took hours with Meteor now takes minutes.</p>

            </header>


            <!-- SERVICES LIST -->
            <div class="row">

                <!-- SERVICE 3 -->
                <div class="service col-md-6 col-sm-6">

                    <div class="row text-right"><!-- right align -->
                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Observatory</h4>
                            <p>
                                Core package that allows your Meteor app to be plugged into
                                <a href="http://observatoryjs.com">Observatory</a>. Powerful logging,
                                application management and monitoring, live debugging and more. Sign up
                                and start using!
                            </p>
                        </div>

                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-cog text-center"></i>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 3 -->

                <!-- SERVICE 4 -->
                <div class="col-md-6 col-sm-6">

                    <div class="service row text-left"><!-- left align -->
                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-user text-center"></i>
                        </div>

                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Users &amp; Roles</h4>
                            <p>
                                Base authentication and authorization package. Featuring role based permissions,
                                versatile customization and AD integration - must have for any corporate environment.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 4 -->
                </div>

            <div class="row">

                <!-- SERVICE 5 -->
                <div class="service col-md-6 col-sm-6">

                    <div class="row text-right"><!-- right align -->
                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Data Types</h4>
                            <p>
                                Typed reactive objects have never been easier. Collection support. Transparent data updates.
                                Same code base on the client and the server.
                            </p>
                        </div>

                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-database text-center"></i>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 5 -->

                <!-- SERVICE 6 -->
                <div class="col-md-6 col-sm-6">

                    <div class="service row text-left"><!-- left align -->
                        <!-- icon -->
                        <div class="service-icon col-md-3 col-sm-3">
                            <i class="featured-icon half fa fa-files-o text-center"></i>
                        </div>

                        <!-- text -->
                        <div class="service-description col-md-9 col-sm-9">
                            <h4>Forms</h4>
                            <p>
                                Reduce boilerplate with this nimble forms package. Features inline editing,
                                automatic template generation, integration with Data Types.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /SERVICE 6 -->

            </div>
            <!-- /SERVICES LIST -->

        </div>
    </section>
    <!-- /SERVICES -->

</template>