<template name="_teamSection">
    <!-- TEAM -->
    <section id="team" class="alternate">
        <div class="container">
            <a href="#" class="toTop up fa fa-chevron-up"><!-- arrow up - go home --></a>

            <header>
                <h1>OUR TEAM</h1>
                <p>One of the primary sources of our success is taking care of the quality and the dynamic development of our products. </p>
                <p>We invest in development to ensure that our products are safe and modern.</p>
            </header>


            <div class="row">

                <!-- team member -->
                <div class="col-md-4 col-sm-4 text-center">

                    <div class="item-box team-member">
                        <figure><!-- image, desc, social -->
								<span class="item-hover">
									<span class="overlay"></span>
									<span class="inner">
										<span class="block text-center">
											<a href="#" class="social fa fa-facebook"></a>
											<a href="#" class="social fa fa-twitter"></a>
											<a href="#" class="social fa fa-google-plus"></a>
											<!--
											<a href="#" class="social fa fa-pinterest"></a>
											<a href="#" class="social fa fa-linkedin"></a>
											<a href="#" class="social fa fa-external-link"></a>
											-->
										</span>
										<span class="team-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus.</span>
									</span>
								</span>
                            <img class="img-responsive" src="assets/images/demo/people/fixed-height/5.jpg" height="263" alt="">
                        </figure>

                        <!-- name , function -->
                        <div class="item-box-desc">
                            <h4>Amanda Joe</h4>
                            <p>CEO Founder</p>
                        </div>
                    </div>

                </div>
                <!-- /team member -->

                <!-- team member -->
                <div class="col-md-4 col-sm-4 text-center">

                    <div class="item-box team-member">
                        <figure><!-- image, desc, social -->
								<span class="item-hover">
									<span class="overlay"></span>
									<span class="inner">
										<span class="block text-center">
											<a href="#" class="social fa fa-facebook"></a>
											<a href="#" class="social fa fa-twitter"></a>
											<a href="#" class="social fa fa-google-plus"></a>
											<!--
											<a href="#" class="social fa fa-pinterest"></a>
											<a href="#" class="social fa fa-linkedin"></a>
											<a href="#" class="social fa fa-external-link"></a>
											-->
										</span>
										<span class="team-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus.</span>
									</span>
								</span>
                            <img class="img-responsive" src="assets/images/demo/people/fixed-height/1.jpg" height="263" alt="">
                        </figure>

                        <!-- name , function -->
                        <div class="item-box-desc">
                            <h4>Simina Joe</h4>
                            <p>Marketing</p>
                        </div>
                    </div>

                </div>
                <!-- /team member -->

                <!-- team member -->
                <div class="col-md-4 col-sm-4 text-center">

                    <div class="item-box team-member">
                        <figure><!-- image, desc, social -->
								<span class="item-hover">
									<span class="overlay"></span>
									<span class="inner">
										<span class="block text-center">
											<a href="#" class="social fa fa-facebook"></a>
											<a href="#" class="social fa fa-twitter"></a>
											<a href="#" class="social fa fa-google-plus"></a>
											<a href="http://www.stepofweb.com/" title="bootstrap theme" target="_blank" class="social fa fa-external-link"></a>
											<!--
											<a href="#" class="social fa fa-pinterest"></a>
											<a href="#" class="social fa fa-linkedin"></a>
											-->
										</span>
										<span class="team-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus.</span>
									</span>
								</span>
                            <img class="img-responsive" src="assets/images/demo/people/fixed-height/8.jpg" height="263" alt="">
                        </figure>

                        <!-- name , function -->
                        <div class="item-box-desc">
                            <h4>John Doe</h4>
                            <p>Web Developer</p>
                        </div>
                    </div>

                </div>
                <!-- /team member -->

            </div>

        </div>
    </section>
    <!-- /TEAM -->
</template>