<template name="_welcomeSection">
    <!-- WELCOME -->
    <section id="about">
        <div class="container">

            <header>
                <h1>WELCOME TO AMUNRA</h1>
                <p>One of the primary sources of our success is taking care of the <span>quality and the dynamic development</span> of our products.</p>
                <p>We invest in development to ensure that our products are safe and modern.</p>
            </header>


            <div class="text-center">
                <img class="img-responsive" src="assets/images/demo/devices.png" alt="" />
            </div>


            <div class="divider"><!-- divider --></div>

            <h3>We care about our customers</h3>
            <p>Lorem elementum placerat mi, vel feugiat massa egestas in. Pellentesque id quam eget dolor tincidunt tempor. Sed pulvinar tortor sit amet tortor venenatis ut molestie lacus convallis. Phasellus vulputate congue posuere. Sed a placerat justo. Sed lacinia nulla at purus porta a placerat dui venenatis. Suspendisse sed lacus id urna faucibus pulvinar ut eu mi. Aliquam erat volutpat.</p>
            <p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>

            <div class="row">
                <div class="col-md-6">
                    <ul class="list-icon check">
                        <li>Responsive Layout</li>
                        <li>Filterable Portfolio</li>
                        <li>Fast &amp; Friendly Support</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-icon exclamation-circle color">
                        <li>App Development</li>
                        <li>Duis mollis, est non commodo</li>
                        <li>Maecenas sed diam eget</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- /WELCOME -->

</template>